.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("javascript/space.pic") no-repeat center center / cover;
    z-index: -1;
    filter: brightness(70%);  
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(199, 238, 45, 0.5);
}
header a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
}
header ol{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.marsimage{
    position: absolute;
    animation: movement 60s linear infinite;
}
@keyframes movement {
    0% { 
        width: 10rem;
        top: 10%;
        right: 30%;
        transform: rotate(0deg);
    }
    50% { 
        width: 50rem;
        top: 30%;
        right: -10%;
        transform: rotate(180deg);
    }
    100% { 
        width: 20rem;
        top: 10%;
        right: 30%;
        transform: rotate(360deg);
    }
}